---
---

@import "{{ site.theme }}";

.sidebar-nav-item {
  display: block;
  line-height: 1.75;
  margin: .75em 0;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
  text-decoration: underline;
}
.sidebar-nav-item.active {
  font-weight: bold;
}
